<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Configuração do recibo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label stacked>Arquivo de dados</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="medium" (click)=cancelar()>Cancelar</ion-button>
      </ion-col>

      <ion-col class="ion-text-center">
        <ion-button (click)=salvar()>Salvar</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>