<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Quitar aluguel
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [formGroup]="form">
  <ion-list>
    <ion-radio-group formControlName="pagamento">
      <ion-list-header>
        <ion-label>Pagamento:</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Total</ion-label>
        <ion-radio value="T" slot="end"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Parcial</ion-label>
        <ion-radio value="P" slot="end"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <app-input-money
      label="Valor"
      [readonly]="true"
      formControlName="valor">
    </app-input-money>

    <app-input-money
      label="Valor pago"
      [readonly]="form.get('pagamento').value === 'T'"
      formControlName="valorPago">
    </app-input-money>

    <ion-item>
      <ion-label position="floating">Observações</ion-label>
      <ion-textarea rows="8" formControlName="obs"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="medium" (click)=cancelar()>Cancelar</ion-button>
      </ion-col>

      <ion-col class="ion-text-center">
        <ion-button (click)=salvar()>Quitar</ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>