<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Caixa
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab class="fab-button" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="novo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Caixa</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-list-header>
      Últimos lançamentos
    </ion-list-header>

    <ion-item-sliding *ngFor="let l of lancamentos">
      <ion-item-options *ngIf="!l.cancelado" side="start">
        <ion-item-option (click)="cancelar(l)" color="danger">
          <ion-icon slot="start" name="trash"></ion-icon>
          Cancelar
        </ion-item-option>
      </ion-item-options>

      <ion-item-options *ngIf="l.cancelado" side="start">
        <ion-item-option (click)="restaurar(l)" color="secondary">
          <ion-icon slot="start" name="star"></ion-icon>
          Restaurar
        </ion-item-option>
      </ion-item-options>

      <ion-item [class.cancelado]="l.cancelado" (click)="expandItem(l.id)">
        <ion-label>
          <ion-row>
            <ion-col size="8">
              <h4>
                {{ l.data | date: 'dd/MM/yyyy' }}
              </h4>
            </ion-col>
            <ion-col class="ion-text-end">
              <h2 [class.debito]="l.tipoLancamento === 'D'">
                {{ l.valor | number : '1.2' }} {{ l.tipoLancamento }}
              </h2>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>

      <ion-item class="item-accordion" [class.show]="expanded === l.id" *ngIf="l.contaDeConsumo || l.cancelado || !!l.aluguel || !!l.descricao">
        <div class="item-accordion-content">
          <ion-row>
            <ion-col>
              <div *ngIf="l.data">
                  <p>Data:</p>
                  <p>{{ l.data | date: 'dd/MM/yyyy' }}</p>
              </div>

              <div *ngIf="l.valor">
                  <p>Valor:</p>
                  <p>{{ l.valor | number : '1.2' }} {{ l.tipoLancamento === 'D' ? 'Débito' : 'Crédito' }}</p>
              </div>

              <div *ngIf="l.contaDeConsumo">
                <p>É conta de consumo</p>
              </div>

              <div *ngIf="l.cancelado">
                <p>Motivo do cancelamento:</p>
                <p [innerHTML]="l.motivoCancelamento | nl2br"></p>
              </div>

              <ng-container *ngIf="!!l.aluguel">
                <div>
                  <p>Imóvel:</p>
                  <p>{{ l.aluguel?.contrato?.imovel?.nome }}</p>
                </div>

                <div>
                  <p>Inquilino:</p>
                  <p>{{ l.aluguel?.contrato?.inquilino?.nome }}</p>
                </div>
              </ng-container>

              <div *ngIf="!!l.descricao">
                <p>Descrição:</p>
                <p [innerHTML]="l.descricao | nl2br"></p>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>