<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Aluguel
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-fab class="fab-button" vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="novo()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Aluguel</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list>
        <ion-list-header>
            <ion-button
              shape="round"
              fill="solid"
              [color]="filter === 'D' ? 'primary' : 'medium'"
              (click)="setFilter('D')"
              size="small">
              Aberto
            </ion-button>
            <ion-button
              shape="round"
              fill="solid"
              [color]="filter === 'Q' ? 'primary' : 'medium'"
              (click)="setFilter('Q')"
              size="small">
              Pago
            </ion-button>
            <ion-button
              shape="round"
              fill="solid"
              [color]="filter === 'C' ? 'primary' : 'medium'"
              (click)="setFilter('C')"
              size="small">
              Cancelado
            </ion-button>
        </ion-list-header>

        <ion-item-sliding *ngFor="let a of alugueis">
            <ion-item-options *ngIf="filter === 'D'" side="start">
                <ion-item-option (click)="cancelar(a)" color="danger">
                    <ion-icon slot="start" name="trash"></ion-icon>
                    Cancelar
                </ion-item-option>

                <ion-item-option (click)="quitar(a)" color="primary">
                    <ion-icon slot="start" name="cash"></ion-icon>
                    Quitar
                </ion-item-option>
            </ion-item-options>

            <ion-item-options *ngIf="filter === 'Q'" side="start">
                <ion-item-option (click)="reemitir(a)" color="primary">
                    <ion-icon slot="start" name="receipt"></ion-icon>
                    Re-emitir recibo
                </ion-item-option>
            </ion-item-options>

            <ion-item-options *ngIf="filter === 'C'" side="start">
              <ion-item-option (click)="restaurar(a)" color="secondary">
                <ion-icon slot="start" name="star"></ion-icon>
                Restaurar
              </ion-item-option>
            </ion-item-options>

            <ion-item (click)="expandItem(a.id)">
                <ion-label>
                    <ion-row>
                        <ion-col size="8">
                            <h4>{{ a.contrato?.imovel?.nome }} - #{{ a.sequencia }}</h4>
                            <p>{{ a.vencimento | date: 'dd/MM/yyyy' }}</p>
                        </ion-col>
                        <ion-col class="ion-text-end ion-align-self-center">
                            <h2>{{ (filter === 'Q' ? a.valorPago : a.valor) | number : '1.2' }}</h2>
                            <ion-note *ngIf="isParcial(a)" color="danger">Parcial</ion-note>
                            <ion-note *ngIf="filter === 'Q' && !isParcial(a)" color="primary">Pago</ion-note>
                        </ion-col>
                    </ion-row>
                </ion-label>
            </ion-item>

            <ion-item class="item-accordion" [class.show]="expanded === a.id">
                <div class="item-accordion-content">
                    <ion-row>
                        <ion-col>
                            <div *ngIf="a.status === 'C'">
                                <p>Motivo do cancelamento:</p>
                                <p [innerHTML]="a.motivoCancelamento | nl2br"></p>
                            </div>

                            <div *ngIf="a.sequencia">
                                <p>Sequência:</p>
                                <p>{{ a.sequencia }}</p>
                            </div>

                            <div *ngIf="a.contrato">
                                <p>Imóvel:</p>
                                <p>{{ a.contrato?.imovel?.nome }}</p>
                            </div>

                            <div *ngIf="a.contrato">
                                <p>Inquilino:</p>
                                <p>{{ a.contrato?.inquilino?.nome }}</p>
                            </div>

                            <div *ngIf="a.contrato?.antecipado">
                                <p>É antecipado</p>
                            </div>

                            <div *ngIf="a.vencimento">
                                <p>Vencimento</p>
                                <p>{{ a.vencimento | date: 'dd/MM/yyyy' }}</p>
                            </div>

                            <div *ngIf="a.contrato?.valor">
                                <p>Valor contrato</p>
                                <p>{{ a.contrato?.valor | number : '1.2' }}</p>
                            </div>

                            <div *ngIf="a.valor">
                                <p>Valor {{isParcial(a) ? 'parcela' : 'aluguel'}}</p>
                                <p>{{ a.valor | number : '1.2' }}</p>
                            </div>

                            <div *ngIf="a.valorPago">
                                <p>Valor pago</p>
                                <p>{{ a.valorPago | number : '1.2' }}</p>
                            </div>

                            <div *ngIf="a.dataPagamento">
                                <p>Data de pagamento</p>
                                <p>{{ a.dataPagamento | date: 'dd/MM/yyyy' }}</p>
                            </div>

                            <div *ngIf="a.status">
                                <ion-note color="{{ a.status === 'Q' ? 'primary' : (a.status === 'D' ? 'danger' : 'medium') }}">
                                    {{ a.status === 'Q' ? 'Pago' : (a.status === 'D' ? 'Aberto' : 'Cancelado') }}
                                </ion-note>
                            </div>
                        </ion-col>
                    </ion-row>
                </div>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
</ion-content>