<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="aluguel">
      <ion-icon name="home"></ion-icon>
      <ion-label>Aluguel</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="caixa">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Caixa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contrato">
      <ion-icon name="document-text"></ion-icon>
      <ion-label>Contrato</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="configurar">
      <ion-icon name="construct"></ion-icon>
      <ion-label>Configurar</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
