<ion-content [fullscreen]="true">
  <div id="container">
    <ion-note color="primary">
      <h1>Cadastros</h1>
    </ion-note>
    <p>Selecione uma das opções abaixo</p>
  </div>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="contrato">
      <ion-icon name="document-text"></ion-icon>
      <ion-label>Contratos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contrato">
      <ion-icon name="home"></ion-icon>
      <ion-label>Imóveis</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inquilino">
      <ion-icon name="man"></ion-icon>
      <ion-label>Inquilinos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>