<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/cadastros"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Contratos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-fab class="fab-button" vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="novo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contratos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item-sliding *ngFor="let c of contratos">
      <ion-item-options side="start">
        <ion-item-option (click)="excluir(c)" color="danger">
          <ion-icon slot="start" name="trash"></ion-icon>
          Excluir
        </ion-item-option>

        <ion-item-option (click)="alterar(c)" color="secondary">
          <ion-icon slot="start" name="pencil"></ion-icon>
          Alterar
        </ion-item-option>
      </ion-item-options>

      <ion-item (click)="expandItem(c.id)">
        <ion-label>
          <ion-row>
            <ion-col size="8">
              <h4>
                {{ c.imovel?.nome }}
              </h4>
            </ion-col>
            <ion-col class="ion-text-end">
              <h2>
                {{ c.valor | number : '1.2' }}
              </h2>
            </ion-col>
          </ion-row>
        </ion-label>
      </ion-item>

      <ion-item class="item-accordion" [class.show]="expanded === c.id">
        <div class="item-accordion-content">
          <ion-row>
            <ion-col>
              <div *ngIf="c.inquilino?.nome">
                <p>Inquilino:</p>
                <p>{{ c.inquilino?.nome }}</p>
              </div>

              <div *ngIf="c.dataInicio">
                <p>Data início:</p>
                <p>{{ c.dataInicio | date: 'dd/MM/yyyy' }}</p>
              </div>

              <div *ngIf="c.dataEncerramento">
                <p>Data encerramento:</p>
                <p>{{ c.dataEncerramento | date: 'dd/MM/yyyy' }}</p>
              </div>

              <div *ngIf="c.diaVencimento">
                <p>Dia vencimento:</p>
                <p>{{ c.diaVencimento }}</p>
              </div>

              <div *ngIf="c.antecipado">
                <p>É antecipado</p>
              </div>

              <div *ngIf="i.obs">
                <p>Obs:</p>
                <p [innerHTML]="c.obs | nl2br"></p>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>